html {
  background: url("https://images.pexels.com/photos/3227984/pexels-photo-3227984.jpeg?auto=compress&cs=tinysrgb&w=600") no-repeat center center;
  background-size: cover;
  height: 100%;
  margin: 0;
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
  font-family: Lucida Sans;
  font-size: 16px;
}

h1, p {
  margin: 20px auto;
  text-align: center;
  color: white;
}

form {
  width: 60vh;
  max-width: 500px;
  min-width: 300px;
  margin: 50px auto;
  padding: 0.5em 3em;
  border: 1px solid rgba(127, 127, 127, 0.7);
  border-radius: 5px;
  background-color: rgba(175, 185, 240, 0.9);
}

fieldset {
  border: none;
  padding: 1em 0;
}

label {
  display: block;
  margin: 0.5em 0;
}

input, textarea, select {
  margin: 10px 0 0 0;
  width: 100%;
  min-height: 2em;
}

.inline {
  width: unset;
  margin: -0.5em 0.5em;
  vertical-align: middle;
}

input[type="submit"] {
  display: block;
  width: 100%;
  margin: 1em auto 1.25em auto;
  height: 2em;
  font-size: 1.1rem;
  min-width: 300px;
  background-color: rgba(255, 127, 127, 0.6);
  border-color: rgba(127, 127, 127, 0.7);
  border-radius: 5px;
}

.field {
  border-radius: 5px;
  border-color: rgba(127, 127, 127, 0.7);
}